select {
	width:100%;
	visibility: hidden;
}

.pokemon{
	width:33%;
}

#fight{
	margin-top: 30px;
	text-align: center;
	display:none;
}

#result{
	margin-top: 30px;
}

pre{
	white-space: pre-line;
}

.ribbon{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}